
# Ignore various directories
exec/*
log/*
loghistory/*
run/*
src/*
static/WPS/*nc*
static/WRF/run/*

# Don't ignore executables README
!exec/README.md

# Ignore workflow database files
*.db

# Ignore swap files
*.swp

# Ignore HRRR_retro.xml
xml/HRRR_retro.xml
