
# Ignore various directories
exec/*
log/
loghistory/
run/
src/
static/GSI/*
static/UPP/
static/UPP_30sep2019/
static/WPS/*nc*
static/WRF/run/
static/smoke/

# Don't ignore certain GSI static files
!static/GSI/gsiparm.anl.sh
!static/GSI/anavinfo_arw_netcdf

# Don't ignore executables README
!exec/README.md

# Ignore workflow database files
*.db

# Ignore swap files
*.swp
